whitenoise>=6.0
Django==4.1
pymongo==3.11.0
dnspython==2.2.1
FPDF==1.7.2
pdfkit==1.0.0
gunicorn
weasyprint==56.1
regex==2022.8.17
tika==1.24
django-bootstrap-modal-forms==2.2.0
django-mongo-sessions==0.0.4
PyPDF2==2.11.0
