{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="btn-group" role="group" aria-label="Basic example" style="width: 100%; display: flex; justify-content: space-between;">
  <div style="width: 30%;">
  <button type="button" class="btn btn-secondary">Editar</button>
  <button type="button" class="btn btn-secondary" style="margin-left: 0.25vw;">Preview</button>
  </div>
  <div class="float-right" style="width: 15%; display: flex; justify-content: right;">
    <button type="button" class="btn btn-secondary" style="right: 0;" onclick="myFunction()" >Adicionar Sessão</button>
    <button type="button" class="btn btn-secondary" style="right: 0; margin-left: 0.25vw;" onclick="myFunction3()" >Salvar</button>
  </div>
</div>
<!--{% for i in range %}
  <h2 class = 'secion-title'></h2>
  <form class='secion-form'>{{ formset }}</form>
  
{% endfor %}-->
<div id="divTextos">
  <textarea class="lic-title" id="txtArea1"> </textarea>
  <textarea class="form-control" rows="7" id="txtArea2" style="margin-top: 0.5vh;" readonly> </textarea>
</div>
<script>
    tinymce.init({
      selector: '.lic-title',
      height : '10.3rem',
      menubar: false,
      statusbar: false,
      style_formats: [
        // Adds the h1 format defined above to style_formats
        { title: 'Titulo 1', format: 'h1' },
        { title: 'Titulo 2', format: 'h2' },
        { title: 'Titulo 3', format: 'h3' },
        { title: 'Titulo 4', format: 'h4' },
        ],
      language: 'pt_BR',
      language_url: '{%static "js/langs/pt_BR.js" %}',
      branding: false,
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });

    

    function myFunction(){
      console.log(tinymce.activeEditor.execCommand('mcePrint'))
    }

    function myFunction2(){
      g = document.createElement('textarea');
      g.setAttribute("id", "txtArea1");
      g.setAttribute("class", "lic-title");
      var element = document.getElementById("divTextos");
      element.appendChild(g)
      tinyMCE.execCommand("mceRepaint");
    }

    function myFunction3(){
     var texto = tinymce.get("txtArea1").getContent()
     console.log(texto)
     document.getElementById("txtArea2").value = texto
    }
    

</script>
{% endblock %}