{% extends 'homePerfilGestor.html' %}
{%load static%}
{%load tagger%}
{% block content %}
{% include 'messages.html' %}
<script>
  setTimeout(function(){
    if ($('#msg').length > 0) {
      $('#msg').remove();
    }
  }, 3000)
</script>
<div class="bg-white formCadastro pt-4 pb-5 px-4 mb-5 mt-5">
    <div class="logo text-center">
      <i class="fa-solid fa-lock logoAltair"></i>
    </div>
    <form action="{% url 'home_page:alteracaoDeSenha' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 w-100">

            <label class="m-1 mt-2" for="nova_senha">Nova senha</label>
            <input id="senha" name="senha" type="password" class="form-control inputform" placeholder="Senha">
      
            <label class="m-1 mt-2" for="confirm_nova_senha">Confirmar nova senha</label>
            <input id="confirm_senha" name="confirmacao senha" type="password" class="form-control inputform" placeholder="Confirmação de senha">

          </div>
        </div>
        <div class="botoes_login text-center">
          <button type="submit" class="btn btn-outline-dark colorButton mt-4 ">Alterar senha</button>
          <a href={% url 'home_page:index' %} class="btn btn-outline-dark colorButton btn-vermelho ms-1 mt-4">Voltar</a>
        </div>
      </form>
      
      <script>
        var password = document.getElementById("senha")
        , confirm_password = document.getElementById("confirm_senha");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Senhas não coincidem");
          } 
          else {
            confirm_password.setCustomValidity('');
          }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
      </script>
</div>
{% endblock %}