{%load static%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Altair</title>

        <!-- Última versão CSS compilada e minificada do Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={%static "home_page/assets/icone.png" %} />
        
        <!-- Chamada do tinyMCE-->
        <script src= {% static "home_page/js/tinymce.min.js" %}></script>
        
        <!-- jQuery-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <!-- Scripts js da aplicação -->
        <script src={%static "construtor_licitacoes/js/tinyMceInstances.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/save.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/menus.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/getsTinyMCE.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/templatesSecoes.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/downloadPdf.js"%} ></script>
        <script src={%static "construtor_licitacoes/js/index.js"%} ></script>
        <!-- CSS -->
        <link href={%static "construtor_licitacoes/css/estilo_adicionar.css" %} rel="stylesheet" referrerpolicy="origin"></script>
        <link href={%static "verificador_fraude/css/estilo_verificador.css" %} rel="stylesheet" referrerpolicy="origin"></script>
        <link href={%static "construtor_licitacoes/css/estilo_construtor.css" %} rel="stylesheet" referrerpolicy="origin"></script>
        
        <!-- Icones fontaweasome-->
        <script src="https://kit.fontawesome.com/4169326a4c.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

        <!-- Jquery Links -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    
    <nav class="navbar navbar-expand-lg navbar-light menu">
        <div class="container itens_menu">
            <a class="navbar-brand" href={% url 'home_page:index' %}><i class="fa-brands fa-artstation"></i> Altair</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Módulos</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'construtor_licitacoes:enviar' %}">Enviar Licitação <i class="fa-solid fa-file-import"></i></a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href={% url 'home_page:index' %}>Licitações</a></li>
                    <li class="nav-item dropdown perfilMenu">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa-solid fa-user"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'home_page:perfil' %}">Perfil <i class="fa-solid fa-address-card"></i></a></li>
                            <li><a class="dropdown-item" href="{% url 'home_page:alterarSenha' %}">Alterar senha <i class="fa-solid fa-lock"></i></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'home_all:logout' %}">Sair <i class="fa-solid fa-door-open"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body id="main_body">
        <section class="py-5" id="corpo_principal">
            <div class="container px-4 px-lg-5 mt-5" id="corpo_interno" >   
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </body>
    <footer>
        <div class="foot"> <i class="fa-brands fa-artstation"></i> &copy; 2022, Altair </div>
    </footer>
    
</html>