{% extends 'base.html' %}
{%load static%}
{%load tagger%}
{% block content %}
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-3 mt-5">
        <div class="card h-100">
            <!-- Ppreview aqui-->
            <!-- detalhes simples-->
            <div class="card-body p-4 text-center">
                <i class="fa-solid fa-file-circle-plus ico-size"></i>
                <div class="text-center">
                    <!-- titulo-->
                    <h5 class="fw-bolder">Sem Título</h5>
                    <!-- algum dado a escolha-->
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <form class="my-1" action="{% url 'home_page:template' %} " method="post">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark colorButton" type="submit" value="Nova Licitação">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for licitacao in licitacoes%}
    <div class="col mb-3 mt-5">
        <div class="card h-100">
            <div class="card-body p-4 text-center">
                <i class="fa-solid fa-file-lines ico-size"></i>
                <div class="text-center d-flex flex-column">
                    <!-- titulo-->
                    <input id="inputTitleHomePage{{licitacao|private:'_id'}}" class="fw-bolder text-center border-0" value="{{licitacao.tituloArquivo}}"></input>
                    <script>
                        $("#inputTitleHomePage{{licitacao|private:'_id'}}").on('input', function() { 
                            var titulo = {'tituloArquivo':$(this).val()}
                            $.ajax({
                                type: 'POST',
                                url: '/construcao/editarTitulo',
                                data: JSON.stringify({'json':titulo,'_id':"{{licitacao|private:'_id'}}"}),
                                dataType : 'json',
                                contentType: 'application/json; charset=utf-8',
                                cache: false,
                            });
                        });
                    </script>
                    <!-- algum dado a escolha {{licitacao.nome_arquivo}}-->
                    Última modificação:<br>{{licitacao.dataModificacao}}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center d-flex justify-content-center">
                    <form class="m-1" action="{% url 'construtor_licitacoes:editar' licitacao|private:'_id' %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark colorButton" type="submit" value="Editar">
                    </form>
                    <form class="m-1" action="{% url 'construtor_licitacoes:excluir' licitacao|private:'_id' %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark colorButton" type="submit" value="Excluir">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}