{% extends 'base.html' %}
{%load static%}
{%load tagger%}
{% block content %}

<div id="main">
  <div id="mySidebarLeft" class="sidebar">
    <button href="javascript:void(0)" class="closebtn" id="closeLeft" onclick="closeNavLeft()"><i class="fa-regular fa-circle-xmark"></i></button>
    <div class="botoesBarraEsquerda">
      <button onclick="novaInstanciaTinyMCE()">Adicionar Seção <i class="fa-solid fa-square-plus"></i></button>
      <button onclick="baixarPdf(true)">Baixar Licitação <i class="fa-solid fa-file-pdf"></i></button>
      <button onclick="saveJSON('{{id_licitacao}}')">Salvar <i class="fa-solid fa-floppy-disk"></i></button>
      
      <button onclick="{% url 'home_page:template' %}">Enviar <i class="fa-solid fa-paper-plane"></i></button>
    </div>
  </div>

  <div class="menu_lateral" id="menuLateralEsquerdo">
    <button class="openbtn" id="btnLeft" onclick="openNavLeft()">☰</button>
    <button class="openbtn" id="btnLeftSecoes" onclick="menuSecoesFeitas();openNavLeftSecoes();"><i class="fa-solid fa-clipboard-list"></i></button>
  </div>

  <div id="mySidebarLeftSecoes" class="sidebar">
    <h1 id="sumario">Sumário</h1>
    <button href="javascript:void(0)" class="closebtn" id="closeLeftSecoes" onclick="closeNavLeftSecoes()"><i class="fa-regular fa-circle-xmark"></i></button>
    <div id="menuSecoesFeitas">
    </div>
  </div>

  <div id="mySidebarRight" class="sidebar">
    <button class="closebtn" id="atualizarPreview" onclick="getAllContent();"><i class="fa-solid fa-arrow-rotate-right"></i></button>
    <button href="javascript:void(0)" class="closebtn" id="closeRight" onclick="closeNavRight()"><i class="fa-regular fa-circle-xmark"></i></button>
    <embed src="" id="embedpreview">
  </div>

  <div class="menu_lateral" id="menuLateralDireito">
    <button class="openbtn" id="btnRight" onclick="openNavRight();getAllContent();"><i class="fa-solid fa-eye"></i></button>

  </div>
  
  <div class="content_menu_folha">
    <div class="bg-white mt-2 pt-5 px-4 pb-5 box-folha";>
      <div id="divTextos">
        <h3 class='cabecalho'>Cabeçalho</h3>
        <textarea class="lic-title" id="cabecalho" placeholder="Digite o cabeçalho aqui"></textarea>
      </div>
      <div id="div_secoes"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var id_template = "{{template|private:'_id'}}";
  var prefixo = "{{template.prefixo_secoes}}";
  loadJSON("{{licitacao}}");
  tinymce.init({
    selector: '#cabecalho',
    weight : '80%',
    height : '16rem',
    plugin: 'pagebreak',
    menubar: false,
    statusbar: false,
    style_formats: [
      // Adds the h1 format defined above to style_formats
      { title: 'Titulo 1', format: 'h1' },
      { title: 'Titulo 2', format: 'h2' },
      { title: 'Titulo 3', format: 'h3' },
      { title: 'Titulo 4', format: 'h4' },
      ],
    branding: false,
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
  });
</script>
{% endblock %}