{% extends 'base.html' %}
{%load static%}
{% block content %}
<div class="btn-group" role="group" aria-label="Basic example" style="width: 100%; display: flex; justify-content: space-between;">
    <!--div style="width: 30%;">
    <button type="button" class="btn btn-secondary" onclick="getText()">Editar</button>
    </div!-->
</div>

<div id="main">
  <div id="mySidebarLeft" class="sidebar">
    <button href="javascript:void(0)" class="closebtn" id="closeLeft" onclick="closeNavLeft()"><i class="fa-regular fa-circle-xmark"></i></button>
    <button onclick="novaInstanciaTinyMCE()">Adicionar Seção <i class="fa-solid fa-square-plus"></i></button>
    <button>Adicionar Subseção <i class="fa-solid fa-square-plus"></i></button>
    <button >Salvar <i class="fa-solid fa-file-pdf"></i></button>
    <button onclick="baixarPdf()">Baixar Licitação <i class="fa-solid fa-file-pdf"></i></button>
    <button onclick="getAllContent()">Preview <i class="fa-solid fa-eye"></i></button>

  </div>

  <div class="menu_lateral" id="menuLateralEsquerdo">
    <button class="openbtn" id="btnLeft" onclick="openNavLeft()">☰</button>
    <button class="openbtn" id="btnLeftSecoes" onclick="openNavLeftSecoes()"><i class="fa-solid fa-clipboard-list"></i></button>
  </div>

  <div id="mySidebarLeftSecoes" class="sidebar">
    <h1 id="sumario"> Sumário </h1>
    <button href="javascript:void(0)" class="closebtn" id="closeLeftSecoes" onclick="closeNavLeftSecoes()"><i class="fa-regular fa-circle-xmark"></i></button>
    <div id="menuSecoesFeitas">
    </div>
  </div>

  <div id="mySidebarRight" class="sidebar">
    <button href="javascript:void(0)" class="closebtn" id="closeRight" onclick="closeNavRight()"><i class="fa-regular fa-circle-xmark"></i></button>
    <embed src="../../static/construtor_licitacoes/pdf/edital.pdf#view=FitH" type="application/pdf" width="100%" height="100%">
  </div>
  <div class="menu_lateral" id="menuLateralDireito">
    <button class="openbtn" id="btnRight" onclick="openNavRight()"><i class="fa-solid fa-eye"></i></button>  
  </div>
  
  <div class="content_menu_folha">
    <div class="bg-white mt-2 pt-5 px-4 pb-5 box-folha";>
      <div id="divTextos">
        <textarea class="lic-title" id="txtArea1"> </textarea>
      </div>
      <div id="div_secoes">  
      </div>
    </div>
  </div>
</div>

  <script>
  
  </script>
</div>

  <script type="text/javascript">
    var prefixo = "{{template.prefixo_secoes}}";
  </script>

{% endblock %}