{% extends 'base.html' %}
{%load static%}
{%load tagger%}
{% block content %}

<div class="bg-white mt-2 pt-5 px-4 pb-5 box-folha formLic";>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6 w-100">
            <label class="m-1 mt-2" for="inputEmail4">Órgão</label>
            <input type="email" class="form-control border-2" id="inputEmail4" placeholder="Órgão">

            <label class="m-1 mt-2" for="inputCity">Município</label>
            <input type="text" class="form-control border-2" id="inputCity" placeholder="Município">

            <label class="m-1 mt-2" for="inputCity">Estado</label>
            <input type="text" class="form-control border-2" placeholder="Piauí" readonly>

            <label class="m-1 mt-2" for="exampleFormControlSelect1">Tipo de Objeto</label>
            <select class="form-control border-2" id="exampleFormControlSelect1">
              <option>Construções</option>
              <option>Serviços</option>
              <option>Aquisições</option>
            </select>

            <label class="m-1 mt-2" for="inputAddress2">Objeto</label>
            <textarea type="text" class="form-control border-2" aria-label="With textarea"></textarea>

            <label class="m-1 mt-2" for="inputAddress2">Data de Abertura</label>
            <input type="date" class="form-control border-2">

            <label class="m-1 mt-2" for="inputAddress2">Arquivo</label>
            <input class="form-control border-2" type="file" id="formFile">
          </div>
        </div>
        <a href={% url 'home_page:index' %} class="btn btn-outline-dark colorButton mt-4">Enviar</a>
        <a href={% url 'construtor_licitacoes:editar' id_licitacao %} class="btn btn-outline-dark buttonNew mt-4">Cancelar</a>
      </form>
</div>
{% endblock %}