.secao_titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    font-size: 18px !important;
    padding-left: 3.0vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    white-space: nowrap;
}

.secoesSemNome{
    margin-top: 2vh;
    margin-bottom: 1vh;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    text-align: center;
}

.cabecalho{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    padding-left: 3.0vw;
    margin-bottom: 1vh;
    font-size: 22px !important;
    white-space: nowrap;
}

.licitacaoStatus{
    padding-top: 0.5ch;
    align-items: baseline;
    font-size: 1.5ch;
    font-style: italic;

}

.licitacaoStatus i{
    padding: 0.5ch;
}

.licitacaoStatus p{
    font-family: Arial, Helvetica, sans-serif;
}