
:root {
  --fonte: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --cor_principal: #00684a;
  --cor_principal_contraste: #00684bb2;
}

#corpo_interno{
  box-sizing: content-box;
  display: contents;
}

.foot{
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-family: var(--fonte);
  font-size: 14px;
  padding: 0 !important;
  margin: 0.5vh !important;
}

#main {
  transition: margin-left .5s;
  transition: margin-right .5s;
  padding: 2vh 0px 0px 0px;
  height: 100%;
}

.box-folha {
box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
width: 85%;
box-sizing: content-box;
margin: auto;
height: auto;
}


html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

footer {
  background-color: var(--cor_principal);
  position: relative !important;
  width: 100%;
  height: fit-content;
  bottom: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  flex: 0;
}
.row-cols-xl-4{
  padding: 5vh;
}
#corpo_principal{
  flex: 1;
  margin: 0;
}

#principal {
  width: 90%;
  margin-left: 0%;
  margin-right: 0%;
  box-sizing: content-box !important;
}

.tox-tinymce{
  border: 0.2vh solid #0000001f !important;
}

.menu {
  background-color: var(--cor_principal) !important;
  box-shadow: 0 0 1vh black !important;
  border-bottom: 0.2vh solid #ffffff !important;
  position: fixed !important;
  width: 100%;
  z-index: 4;
}

.navbar-brand {
  color: rgb(255, 255, 255) !important;
  text-shadow: 1px 1px 1px black;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  text-shadow: 1px 1px 1px black;
}

.sidebar {
    margin-top: 1vh;
    position: fixed;
    width: 0;
    z-index: 3;
    height: 100%;
    background-color: var(--cor_principal);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5.5vh;
    border: 1px solid #212529 !important;
  }
  
  .sidebar button {
    text-shadow: 1px 1px 1px black;
    font-family: var(--fonte);
    padding-bottom: 0.5vh;
    font-size: 1.1vw;
    color: white;
    display: block;
    transition: 0.3s;
    background: none;
    border: none;
  }

  .botoesBarraEsquerda{
    padding-left: 1.5vw;
    
  }
  
  .sidebar button:hover {
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 1.6vw;
  }

#closeRight{
  left: 0;
}

#closeLeft{
  right: 0;
}

#closeLeftSecoes{
  right: 0;
}

.openbtn {
  z-index: 3;
  width: 2.6vw;
  cursor: pointer;
  color: white;
  padding: 1vh;
  border: none;
  height: fit-content;
  margin-bottom: 0.5vh;
}

.openbtn:hover {
  background-color: #444;
}

#menuLateralEsquerdo{
  background-color: var(--cor_principal_contraste);
  left: 0;
  display: flex;
  flex-direction: column;
}

#menuLateralDireito{
  background-color: #413e3eab;
  right: 0;
}

#btnLeft{
  background-color: var(--cor_principal);
  left: 0;
}

#btnLeftSecoes{
  background-color: var(--cor_principal);
  left: 0;
}

#btnRight{
  background-color: #4d4a4a;
  right: 0;
}

#mySidebarRight{
  background-color: #413e3e;
  right: 0;
}

#mySidebarLeft{
  left: 0;
}

#mySidebarLeftSecoes{
  left: 0;
}

#menuSecoesFeitas{
  align-content: center;

}

.tituloEditavel input:hover{
  border: 1px solid rgb(75, 75, 75) !important;
  border-radius: 5px;
  width: auto !important;
  height: fit-content !important;
  padding: 0;
  margin: 0;
}

.tituloSecaoFeita{
  text-shadow: 1px 1px 1px black;
  font-family: var(--fonte);
  font-size: 0.8vw;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-left: 1.5vw;
  padding-right: 1vw;
  padding-bottom: 0.8vh;
}

#sumario{
  text-shadow: 1px 1px 1px black;
  font-family: var(--fonte);
  font-size: 1.2vw;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 2vh;
}

.menu_lateral{
  margin-top: 1vh;
  z-index: 0;
  position: fixed;
  font-size: 0.9vw;
  color: white;
  border: none;
  height: 100%;
  width: 2.6vw;
}

.content_menu_folha{
  display: flex;
  flex-direction: row;
}

/*ICONE NOVA LICITAÇÃO*/
.ico-size{
  font-size: 45px;
  text-align: center;
  padding-bottom: 1.5vh;
}

.cardNew{
  color: #fff;
  background-color: var(--cor_principal) !important;
  box-shadow: 0 0 0.1cm rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.buttonNew{
  background-color: #fff !important;
  color: #00553d !important;
  font-weight: bold !important;
  text-shadow: none !important;
  
}

.h-100{
  background-color: white;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 0 0 0.1cm rgba(0, 0, 0, 0.5);

}

.colorButton{
  background-color: var(--cor_principal);
  color: white;
  box-shadow: 0 0 0.1cm rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px black;
}

  #embedpreview{
    height: 100% !important;
    width: 100% !important;
  }

  #atualizarPreview{
    left: 0;
    padding-left: 3vw;
  }