:root {
    --fonte: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --cor_principal: #00684a;
    --cor_principal_contraste: #00684bb2;
    --cor_fundo: rgb(230, 230, 230);
    --cor_hover: #003f2d;
    --background_hover: rgb(185, 185, 185);
    --cor_bordas: rgb(170, 170, 170);
    --fonte_principal: "Helvetica Neue",Helvetica,Arial,sans-serif;
    --cor_fundo_divs: rgb(240, 240, 240);
}

.cardAud{
    width: 80% !important;
    padding: 0;
    margin: 0;
}

.cardInterno{
    height: 65% !important;
}

.rodapeCard{
    border-bottom: 1px solid var(--cor_bordas);
    height: 50% !important;
}

.previewAud{
    width: 40% !important;
    position: absolute;
    right: 0 !important;
    height: 100%;
}

.BarraNameLic{
    width: 100%;
    height: fit-content;
    background-color: var(--cor_principal);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
}

.cardlicAud{
    border-bottom: 2px solid var(--cor_principal);
    border-left: 2px solid var(--cor_principal);
    border-right: 2px solid var(--cor_principal);
}

.documentBarra{
    position: absolute;
    right: 0 !important;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-shadow: none;
    background-color: white;
    border-radius: 15px;
}

.textoDocumento{
    color: var(--cor_principal);
    font-size: 14px;
    text-decoration: none;
}

.documentBarra:hover{
    background-color: var(--background_hover);
}

.textoDocumento:hover{
    color: var(--cor_hover);
}

.objeto{
    max-height: max-content;
}

.tipolic{
    background-color: rgb(255, 127, 127);
}

.nomelic{
    color: gold;
    font-size: 17px;
    width: fit-content;
    height: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nomelic:hover{
    color: gold;
}

.barraDosFiltros{
    width: 95%;
}

#embedavaliar{
    width: 100%;
    height: 100%;
}

.previewPdfAud{
    padding: 1px;
    margin-top: 58px;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.conteudos_interna{
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    background-color: white;
    height: 100%;
    width: 60%;
    padding: 0;
}

.BotaoVoltarAud{
    padding: 20px;
    margin: 0 auto;
}

.SobreLic{
    margin-top: 30px;
    margin: 0 auto;
    width: 95%;
    
}

.TituloCard{
    background-color: var(--cor_principal) !important;
    color: white;
    padding: 8px;
}

.TituloCardTxt{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.ConteudoCard{
    font-size: 16px;
    border: 1px solid var(--cor_principal);
}

.TitulosInformacoesLic{
    color: rgb(80, 80, 80);
    font-size: 18px;
    font-family: var(--fonte_principal);
}

.TextoInformacoesLic{
    font-size: 15px;
    font-family: var(--fonte_principal);
}

.botoes{
    border-top: 1px solid var(--cor_bordas);
    padding: 8px;
    background-color: rgb(240, 240, 240);
}

.fonteicone{
    font-size: 20px;
}

.TextoCard{
    padding: 20px;
}

.Achados{
    padding-top: 10px;
}

.table{
    background-color: var(--cor_fundo_divs);
    border: 1px solid var(--cor_bordas);
    font-family: var(--fonte_principal);
}
