{% extends 'base2.html' %}
{%load static%}
{%load tagger%}
{% block content %}

<div id="main">
  <div class="h-100 previewAud">
      <embed src="" id="embedavaliar" type='application/pdf' class="w-100 h-100">
      <form>

        <div>
            área para exibir o resultado do classificar
        </div>


        
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Área de feedback</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class="form-group">
          <label for="formControlRange">O quanto nosso classificador acertou? </label>
          <input type="range" class="form-control-range" id="formControlRange">
        </div>
      </form>
  </div>

  <script type="text/javascript">
    var database = "{{licitacao}}".split(";")
    var elemento = document.getElementById("embedavaliar");
    if(database.length == 4){
      var database2 = database[2].split(",")
      var database3 = database2[1].split("&")
      console.log(database3)
      elemento.src = "data:application/pdf;base64," + database3[0] + "#view=FitH"
    }
    else if(database.length == 3){
      var database2 = database[1].split("&")
      elemento.src = "data:application/pdf;base64," + database2[0] + "#view=FitH"
    }
    //console.log(database)
    //var database2 = database[1].split("&")
    //var jsonDecoded = JSON.parse(decodeEntity("{{licitacao}}").replace(/\n\r?/g, ''));
    //console.log(jsonDecoded)
    
    //console.log(database2[0])
    //var bin = atob(database2[0]);
    //elemento.src = "data:application/pdf;base64," + database2[0] + "#view=FitH"
  </script>
{% endblock %}