{% extends 'base2.html' %}
{%load static%}
{%load tagger%}
{% block content %}
<div class="conteudos_interna">
  <div class="informacoesLic">
    <a class=""></i> Licitação: </a>{{licitacao_dados.tituloArquivo}}<br>
    <a class=""></i> Orgão: </a>{{licitacao_dados.orgao}}<br>
    <a class=""></i> Data de abertura: </a>{{licitacao_dados.data}}<br>
    <a class=""></i> Município: </a>{{licitacao_dados.municipio}}<br>
    <a class=""></i> Tipo de Licitação: </a>{{licitacao_dados.tipo}}<br>
  </div>
  <div class="ObjetoDaLic">
    <div class="TituloCard">
      <a class="TituloCardTxt"> OBJETO:</a>
    </div>
    <div class="TexoDoCard">
      {{licitacao_dados.objeto}}
    </div>
  </div>
  <div id="mySidebarRight" class="sidebar previewPdfAud">
    <embed src="" id="embedavaliar" type='application/pdf'>
  </div>
</div>
  <script type="text/javascript">
    var jsonDecoded = JSON.parse(decodeEntity("{{licitacao}}").replace(/\n\r?/g, ''));
    var elemento = document.getElementById("embedavaliar");
    var bin = atob(jsonDecoded.base64.$binary);
    elemento.src = bin + "#view=FitH"
  </script>
{% endblock %}