{% extends 'base2.html' %}
{%load static%}
{%load tagger%}
{% block content %}
<div class="conteudos_interna">
  <div class="BotaoVoltarAud">
    
  </div>
  <div class="SobreLic">
    <a class="btn btn-left btn-info mb-3 border-1 border-dark text-white" href="{% url 'home_page:homeAud' %}">⬅️ Voltar</a>
    <div class="TituloCard">
      <a class="nomelic"><i class="fa-solid fa-landmark"></i> Licitação: </a>{{licitacao_dados.arquivo}}
    </div>
    <div class="ConteudoCard">
      <div class="TextoCard">
        <div class="row">
          <div class="col-sm">
            <h4 class="TitulosInformacoesLic">Município:</h4>
            <p class="TextoInformacoesLic">{{licitacao_dados.municipio}}</p>
            <h4 class="TitulosInformacoesLic">Órgão:</h4>
            <p class="TextoInformacoesLic">{{licitacao_dados.orgao}}</p>
            <h4 class="TitulosInformacoesLic">Tipo de Licitação:</h4>
            <p class="TextoInformacoesLic">{{licitacao_dados.tipo}}</p>
          </div>
          <div class="col-sm">
            <h4 class="TitulosInformacoesLic">Data de abertura: </h4>
            <p class="TextoInformacoesLic">{{licitacao_dados.data}}</p>
          </div>
        </div>
        <h4 class="TitulosInformacoesLic">Objeto:</h4>
        <p class="TextoInformacoesLic">{{licitacao_dados.objeto}}</p>
      </div>
      <div class="botoes">
        <form class="d-flex flex-row align-items-baseline" action="{% url 'verificador_fraude:verificar' licitacao_dados|private:'_id' %}" method="get">
          <button type="submit" class="btn btn-left btn-danger border-dark text-white"><i class="fa-solid fa-land-mine-on"></i> Verificar Indícios</button>
            <span class="bg-primary border-dark text-white ms-2 input-group-text"><i class="fa-solid fa-ruler-vertical me-2"></i> Tamanho do contexto</span>
            <input class="ms-1 form-control border-1 border-dark" name="tamanho" type="number" value="200" style="width:70px;"></input>
        </form>
      </div>
    </div>
    <div class="Achados">   
      <h5 class="IndiciosEncontrados mb-3 mt-3">Indícios encontrados na Licitação</h5>

      {% for achado in licitacao_dados.achados%}       
        <table class="table">
            <tbody>
              <tr title="Descoberto na Seção">
                <td class="tituloTabela">Seção:</td>
                <td>{{achado.secaoAchado}}<!-- SEÇÃO ACHADA AQUI --></td>
              </tr>
              <tr title="Descrição">
                <td class="tituloTabela">Tipo:</td>
                <td><span class="badge alert-danger">{{achado.tipoAchado}}<!-- Tipo de achado aqui --></span></td>
              </tr>
              <tr title="Tipo">
                <td class="tituloTabela">Descrição:</td>
                <td><em>"{{achado.descricaoAchado}}"<!-- Descrição do achado --></em></td>
              </tr>
              <tr title="ConteudoAchado">
                <td class="tituloTabela">Conteúdo do indício:</td>
                <td>{{achado.conteudoAchado}}<!-- Descrição do achado --> <span class="badge alert-success"><!-- Tipo de achado aqui --></span></td>
              </tr>
            </tbody>
        </table>
      {% endfor %}
      <!--
      <div style="margin-top:1em">
          <button id="btnavaliar_48766" class="btn btn-primary border-1 border-dark" onclick="avaliar('48766')"><i class="fa-solid fa-thumbs-up"></i> Avaliar Achado</button>
      </div>
      -->
    </div>
  </div>
  <div id="mySidebarRight" class="sidebar previewPdfAud">
    <embed src="" id="embedavaliar" type='application/pdf'>
  </div>
</div>
  <script type="text/javascript">
    var database = "{{licitacao}}".split(";")
    var elemento = document.getElementById("embedavaliar");
    if(database.length == 4){
      var database2 = database[2].split(",")
      var database3 = database2[1].split("&")
      elemento.src = "data:application/pdf;base64," + database3[0] + "#view=FitH"
    }
    else if(database.length == 3){
      var database2 = database[1].split("&")
      elemento.src = "data:application/pdf;base64," + database2[0] + "#view=FitH"
    }
  </script>
{% endblock %}