{% extends 'base2.html' %}
{%load static%}
{%load tagger%}
{% block content %}

<div class=" row gx-4 gx-lg-5 menu_index d-flex">
    <div class="input-group rounded w-75 m-0 m-auto">
        <select class="form-select rounded filtroTipo me-3 border-secondary">
            <option selected>Todos os modelos</option>
            <option value="1">Capítulos</option>
            <option value="2">Seções</option>
            <option value="2">Numérico</option>
          </select>
        <select class="form-select rounded filtroTipo me-3 border-secondary">
            <option selected value="all">Todas</option>
            <option value="pedding">Pendentes</option>
            <option value="submit">Submetidas</option>
          </select>
        <input type="search" class="form-control rounded border-secondary" placeholder="Buscar uma Licitação..." aria-label="Pesquisar" aria-describedby="search-addon" />
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-outline-dark colorButton ms-1" type="submit" value="Filtrar">
        </form>
    </div>
</div>
<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 p-2 m-0 justify-content-center">
    <script>
        var selectedValue = $('#aioConceptName').find(":selected").val();
    </script>
    {% for licitacao in licitacoes%}
    {% if licitacao.status == "submetido" %}
    <div class="col mb-3 mt-5">
        <div class="card h-100">
            <div class="card-body p-4 text-center">
                <i class="fa-solid fa-file-lines ico-size"></i>
                <div class="text-center d-flex flex-column tituloEditavel">
                    <!-- titulo-->
                    <input id="inputTitleHomePage{{licitacao|private:'_id'}}" class="fw-bolder text-center border-0 " value="{{licitacao.tituloArquivo}}"></input>
                    <script>
                        $("#inputTitleHomePage{{licitacao|private:'_id'}}").on('input', function() { 
                            var titulo = {'tituloArquivo':$(this).val()}
                            $.ajax({
                                type: 'POST',
                                url: '/construcao/editarTitulo',
                                data: JSON.stringify({'json':titulo,'_id':"{{licitacao|private:'_id'}}"}),
                                dataType : 'json',
                                contentType: 'application/json; charset=utf-8',
                                cache: false,
                            });
                        });
                    </script>
                    <!-- algum dado a escolha {{licitacao.nome_arquivo}}-->
                    Última modificação:<br>{{licitacao.dataModificacao}}<br>
                    Status:<br>{{licitacao.status}}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center d-flex justify-content-center">
                    <form class="m-1" action="{% url 'verificador_fraude:avaliar' licitacao|private:'_id' %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-outline-dark colorButton" type="submit" value="Avaliar">
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
