{% extends 'base.html' %}
{%load static%}
{%load tagger%}
{% block content %}

<div class="bg-white mt-2 pt-5 px-4 pb-5 box-folha formLic";>
      <form action="{% url 'construtor_licitacoes:enviarSubmetidos' id_licitacao %}" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 w-100">
            <label class="m-1 mt-2" for="Orgao">Órgão</label>
            <input name="orgao" type="text" required class="form-control border-2" placeholder="Órgão">

            <label class="m-1 mt-2" for="Municipio">Município</label>
            <input name="municipio" type="text" class="form-control border-2" placeholder="Município" required>

            <label class="m-1 mt-2" for="Estado">Estado</label>
            <input name="estado" type="text" class="form-control border-2" placeholder="Piauí" value="Piaui" readonly>

            <label class="m-1 mt-2" for="TipoObjeto">Tipo de Objeto</label>

            <select name="tipo" class="form-select border-2">
              <option selected>Selecionar tipo</option>
              <option value="Obras">Obras</option>
              <option value="Serviços">Serviços</option>
              <option value="Aquisições">Aquisições</option>
            </select>

            <label class="m-1 mt-2" for="Objeto">Objeto</label>
            <textarea name="objeto" type="text" class="form-control border-2" aria-label="With textarea" placeholder="Objeto da licitação" required></textarea>

            <label class="m-1 mt-2" for="DataAbertura">Data de Abertura</label>
            <input name="data" type="date" class="form-control border-2" required>

            <label class="m-1 mt-2" for="Arquivo">Arquivo</label>
            <input name="arquivo" type="text" class="form-control border-2" placeholder="{{licitacao.tituloArquivo}}" value="{{licitacao.tituloArquivo}}" readonly>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-dark colorButton mt-4">Enviar</button>
        <a href={% url 'construtor_licitacoes:editar' id_licitacao %} class="btn btn-outline-dark buttonNew mt-4">Cancelar</a>
      </form>
</div>
{% endblock %}