{% extends 'home.html' %}
{%load static%}
{%load tagger%}
{% block content %}
{% include 'messages.html' %}

<div class="bg-white mt-2 pt-5 px-4 pb-5 box-folha formLic";>
      <form action="{% url 'home_all:submeterCadastro' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 w-100">
            
            <label class="m-1 mt-2" for="usuario">Usuario</label>
            <input name="usuario" type="text" required class="form-control border-2" placeholder="Usuário">

            <label class="m-1 mt-2" for="Municipio">Senha</label>
            <input name="senha" type="text" class="form-control border-2" placeholder="senha" required>

          </div>
        </div>
        <!--<a href={% url 'home_page:index' %} class="btn btn-outline-dark colorButton mt-4">Enviar</a>-->
        <button type="submit" class="btn btn-outline-dark colorButton mt-4">Logar</button>
      </form>
</div>
{% endblock %}